.container {
  background-color: var(--bg-panel);
  border-radius: 8px;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 24px;
  flex-shrink: 0;
}
